.list_item {
  width: 30%;
  margin-bottom: 50px;

  &__image {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 575px) {
  .list_item {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .list_item {
    width: 47%;
  }
}

@media (min-width: 768px) {
  .list_item {
    width: 30%;
  }
}
