@import "typeface-roboto";

.bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: relative;

  display: flex;
  margin: 0 auto;
  padding: 15px;

  background: "#fff";
  background-color: #ffffff;

  &__width_70 {
    width: 70%;
  }

  &__width_50 {
    width: 50%;
  }

  &__close_btn {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 50px;
    height: 50px;

    background: transparent url("../../img/close.png") no-repeat center;
    background-size: 80%;
    border: none;
    cursor: pointer;

    transition: 0.1s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &__image {
    width: 100%;
  }

  &__image_form {
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
  }

  &__input {
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 10px 15px;

    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
  }

  &__button {
    padding: 10px 15px;

    font-size: 20px;
    font-family: "Roboto";
    color: #ffffff;

    background: #4997d0;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    transition: 0.1s ease-in-out;

    &:hover {
      background-color: rgba(73, 151, 208, 0.8);
    }
  }

  &__comments {
    padding: 0 20px;

    &__date {
      color: #999999;
    }

    &__text {
      color: #000000;
    }
  }
}
