@import "typeface-roboto";
@import "../../variables.scss";

.bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-y: auto;

  background-color: $modal-bg;
}

.modal {
  position: relative;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 30px;

  background-color: $white;

  transition: ease-in-out 0.3s;

  &__form {
    width: 100%;
  }

  &__image__container {
    width: 60%;
  }

  &__close_btn {
    position: absolute;
    top: 2px;
    right: 2px;

    width: 30px;
    height: 30px;

    background: $transparent url("../../img/close.png") no-repeat center;
    background-size: 80%;
    border: none;
    cursor: pointer;

    transition: 0.1s ease-in-out;

    &:hover {
      background-color: $btn-hover-gray;
    }
  }

  &__image_comments {
    display: flex;
    flex-direction: column;
  }

  &__image,
  &__isLoading {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .bg {
    margin-top: 0;

    background-color: $white;
  }

  .modal {
    width: 100%;
    margin: 0;
    padding: 0;

    &__close_btn {
      top: 5px;
      right: 5px;

      width: 40px;
      height: 40px;
    }

    &__image_comments,
    &__comments_column {
      display: block;
    }

    &__comments_row {
      display: none;
    }

    &__comments,
    &__form {
      padding: 15px;
    }
  }
}

@media (min-width: 576px) {
  .modal {
    &__comments_row {
      display: none;
    }

    &__comments_column {
      display: block;
    }

    &__comments {
      width: 100%;
      padding: 15px 0 0 0;
    }

    &__with_comments {
      width: 80%;
    }

    &__without_comments {
      width: 60%;
    }
  }
}

@media (min-width: 768px) {
  .modal {
    &__comments_row {
      display: none;
    }

    &__comments_column {
      display: block;
    }

    &__comments {
      width: 100%;
      padding: 15px 0 0 0;
    }

    &__with_comments {
      width: 60%;
    }

    &__without_comments {
      width: 50%;
    }
  }
}

@media (min-width: 992px) {
  .modal {
    display: flex;
    flex-direction: row;

    &__comments_row {
      display: block;
    }

    &__comments_column {
      display: none;
    }

    &__comments {
      width: 40%;
      padding: 0 15px;
    }

    &__with_comments {
      width: 70%;
    }

    &__without_comments {
      width: 50%;
    }
  }
}
