$modal-bg: rgba(0, 0, 0, 0.7);
$white: #ffffff;
$black: #000000;
$btn-hover-gray: rgba(0, 0, 0, 0.05);
$btn-primary: #4997d0;
$btn-primary-hover: rgba(73, 151, 208, 0.8);
$border-color: #cccccc;
$transparent: transparent;
$error: #dc3545;
